body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

a {
    color: #F9FAF8;
 }

h1,
h4,
p {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 240px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    padding: 4px 10px;
    border-radius: 5px;
    width: 100px;
}


.header,
.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: auto;
    padding: 12px 64px;
}

.header .links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    flex: auto;
    gap: 16px;
}

.main-text {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 64px;
    gap: 64px;
    flex: auto;
}

.main-text .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1;
    margin: 6px;
}

.info-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.info-header h4 {
    margin: 24px;
    font-size: 24px;
}

.info-header .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 64px;
}


.cards li {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.cards img {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
}

.cards p {
    margin-top: 12px;
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;
    padding:  64px;
    margin-top: 64px;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    margin: 64px 128px;
    border-radius: 25px;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px 24px;
    color: #e5e7eb;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}